# Application server port
SERVER_PORT=7790

# Location on file-system to use for the file storage
FILE_STORE_DIR=/var/data/nfs/

# The naming (date) format for our files
FILE_DATE_FORMAT=yyyy-MM-dd-HH